.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94.9vh;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border: 1px solid white;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  font-size: 1.2rem;
}